:root{
    --white:#ffffff;
    --darck:#212121;
    --grey:#757575;
    --primary:#ffc107;
    --secondary:#0097a7;
    
}

html{
    font-size: 62.5%;
}
body{/* 1rem = 10px*/
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.heading__title{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400; 
}

.heading__title span{
    font-size: 2rem;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.nav__bg{
    background-color: var(--secondary);
}

