:root{
    --white:#ffffff;
    --darck:#212121;
    --grey:#757575;
    --primary:#ffc107;
    --secondary:#0097a7;
    
}

html{
    font-size: 62.5%;
}
body{/* 1rem = 10px*/
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.heading__title{
    text-align: center;
    font-size: 3.8rem;
}

.heading__title span{
    font-size: 2rem;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.nav__bg{
    background-color: var(--secondary);
}

.nav__primary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .nav__primary{
        flex-direction: row;
        flex-direction: center;
    }
}

.nav__primary a{
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav__primary a:hover{
    background-color: var(--primary);
    color: var(--darck) ;
}


@media (min-width: 768) {
    
}




